@page "/species/update/{ID:int}"
@rendermode InteractiveServer
@attribute [Authorize]
<PageTitle>Update Species</PageTitle>

<h1><i class="bi bi-database-add"></i> Update Species</h1>
<hr />
@if (EditContext != null)
{
	<EditForm FormName="UpdateSpecies" OnValidSubmit="Submit" EditContext="EditContext">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="container">
			<div class="row mb-3">
				<div class="col-md-12">
					<label for="Name" class="form-label">Name</label>
					<InputText id="Name" class="form-control" @bind-Value="Model.Name" />
					<ValidationMessage For="() => Model.Name" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-12">
					<label for="Shard" class="form-label">Shard (External Data Link)</label>
					<InputText id="Shard" class="form-control" @bind-Value="Model.Shard" />
					<ValidationMessage For="() => Model.Shard" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-12">
					<label for="Description" class="form-label">Description</label>
					<InputTextArea id="Description" class="form-control" @bind-Value="Model.Description" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-12">
					<AliasSelector Aliases="@Model.Aliases" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Update</button>
					<a href="species/index" class="btn btn-light">Cancel</a>
				</div>
			</div>
		</div>
	</EditForm>
}
else
{
	<div class="spinner"></div>
	<p>Loading...</p>
}