@page "/holonetagent/index"
@using Holonet.Databank.Web.Models
@rendermode InteractiveServer

<PageTitle>HoloNet Agent</PageTitle>
<CommonIcons />
<SetHeader>
	<h1>HoloNet Agent</h1>
	<hr />
</SetHeader>

<div class="row mb-2 pb-5">
	<div class="col-12">
		@foreach (var chatResponse in ChatResponses)
		{
			@if (chatResponse.Type.Equals(ChatResponseType.User))
			{
				<div class="mb-2 d-flex justify-content-end">
					<div class="alert alert-primary" role="alert">
						@chatResponse.Result
					</div>
					<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 ms-3">
						<svg class="icon"><use xlink:href="#icon-person"></use></svg>
					</div>
				</div>
			}
			@if (chatResponse.Type.Equals(ChatResponseType.Agent))
			{
				<div class="mb-2 d-flex justify-content-start align-items-start">
					<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
						<svg class="icon"><use xlink:href="#icon-robot"></use></svg>
					</div>
					<div class="alert alert-secondary" role="alert">
						@((MarkupString)@chatResponse.Result)
					</div>
				</div>
			}
			if (chatResponse == ChatResponses.Last())
			{
				<a href="javascript:void(0);" @ref="lastItemRef"></a>
			}
		}
	</div>
</div>
@if (ChatResponses == null || ChatResponses.Count().Equals(0))
{
	<div class="d-flex justify-content-center mt-3">
		<div class="alert alert-secondary col-6 text-center" role="alert">
			<h5>Connecting you with a HoloNet Databank agent...</h5>
			<p>Please stand by..</p>
			<WaitingIndicator HorizontalAlignment="WaitingIndicator.Alignment.Center" />
		</div>
		<a href="javascript:void(0);" @ref="lastItemRef"></a>
	</div>
}
@if (isLoading)
{
	<WaitingIndicator HorizontalAlignment="WaitingIndicator.Alignment.Left" />
}

<SetFooter>
	<div class="card ms-1 me-3">
		<div class="card-body">
			<EditForm EditContext="EditContext" OnValidSubmit="SendUserPrompt">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<div class="input-group">
					<button class="btn btn-secondary" type="button" id="newChat" @onclick="StartNewChat" disabled="@((IsUserAuthenticated) ? null : "disabled")" title="Click to start a new chat with the agent.">
						<svg class="icon"><use xlink:href="#icon-plus-circle"></use></svg>
					</button>
					<InputText id="HolonetAgent" class="form-control" placeholder="Enter your chat content here" @bind-Value="Model.Prompt" aria-describedby="submitChat" />
					<button class="btn btn-primary" type="submit" id="submitChat" disabled="@((IsUserAuthenticated) ? null : "disabled")" title="Click to submit your comments to the chat agent">Submit</button>
				</div>
			</EditForm>
		</div>
	</div>
</SetFooter>