@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <a class="btn btn-secondary btn-sm" href="/profile" title="Click to view your user profile."><i class="bi bi-person"></i></a>
        <a class="btn btn-primary btn-sm" href="MicrosoftIdentity/Account/SignOut" title="Click to sign out of your account.">Sign Out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary btn-sm" href="MicrosoftIdentity/Account/SignIn" title="Click to sign into your account.">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

