@if (Species == null)
{
	<p>
		<em>Loading ...</em>
	</p>
}
else
{
	@foreach (var item in Species)
	{
		<div>
			<input type="checkbox" checked="@SelectedSpeciesIds.Contains(item.Id)" @onchange="(e) => UpdateSelection(item.Id, (bool)e.Value)" />
			<label>@item.Name</label>
		</div>
	}
}