@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<div class="container d-flex flex-wrap justify-content-center align-items-center">
				<form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
					<input type="search" class="form-control" placeholder="Search..." aria-label="Search" disabled>
				</form>

				<div class="text-end">
					<LoginDisplay />
				</div>
			</div>
		</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa fa-thumbs-up"
				ErrorIcon="fa fa-bug" />

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
