
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<header class="navbar bg-dark flex-md-nowrap p-1 shadow" data-bs-theme="dark">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-white fs-4" href="/">Databank #8108</a>
	</header>
	<nav class="navbar navbar-expand-lg navbar-dark flex-column align-items-start">
		<div class="mb-auto w-100">
			<div class="nav-item px-3">
				<NavLink class="nav-link fs-6 ps-2" href="/" Match="NavLinkMatch.All">
					<i class="bi-house me-2" style="font-size: 1.25rem; color: white;"></i> Home
				</NavLink>
			</div>

			<div class="nav-item px-3">
				<NavLink class="nav-link fs-6 ps-2" href="characters/index">
					<i class="bi-person-rolodex me-2"></i> Characters
				</NavLink>
			</div>

			<div class="nav-item px-3">
				<NavLink class="nav-link fs-6 ps-2" href="planets/index" >
					<i class="bi-globe me-2"></i> Planets
				</NavLink>
			</div>

			<div class="nav-item px-3">
				<NavLink class="nav-link fs-6 ps-2" href="species/index">
					<i class="bi-person-bounding-box me-2"></i> Species
				</NavLink>
			</div>

			<div class="nav-item px-3">
				<NavLink class="nav-link fs-6 ps-2" href="historicalevents/index">
					<i class="bi-book me-2"></i> Historical Events
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link fs-6 ps-2" href="holonetagent/index">
					<i class="bi-robot me-2"></i> Holonet Agent
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<hr class="dropdown-divider" />
			</div>
			<AuthorizeView>
				<Authorized>
					<div class="nav-item px-3">
						<NavLink class="nav-link fs-6 ps-2" href="/profile" title="Click to view your user profile.">
							<i class="bi-person-badge me-2"></i> User Profile
						</NavLink>
					</div>
					<div class="nav-item px-3">
						<NavLink class="nav-link fs-6 ps-2" href="MicrosoftIdentity/Account/SignOut" title="Click to sign out of your account.">
							<i class="bi-door-open me-2"></i> Sign Out
						</NavLink>
					</div>
				</Authorized>
				<NotAuthorized>
					<div class="nav-item px-3">
						<NavLink class="nav-link fs-6 ps-2" href="MicrosoftIdentity/Account/SignIn" title="Click to sign into your account.">
							<i class="bi-box-arrow-in-right me-2"></i> Sign In
						</NavLink>
					</div>
				</NotAuthorized>
			</AuthorizeView>
		</div>
	</nav>
</div>