@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="d-flex">
    <div class="bg-light sidebar position-fixed">
        <NavMenu />
    </div>
    <div class="main-content w-100">
        <div class="px-4 pt-2">
			<AppHeader />
        </div>
        <div class="content">
			<article class="px-4 h-100">
            @Body
			</article>
        </div>
        <div class="px-4 pb-2 mt-auto">
			<AppFooter />
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="10" RemoveToastsOnNavigation="false" />

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>