<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<div class="input-group col-3">
					<InputText id="NewAlias" @bind-Value="@NewAlias.Name" class="form-control" placeholder="Enter text to use as an alias" aria-label="Enter text to use as an alias"></InputText>
					<button type="button" class="btn btn-secondary" @onclick="AddNewAlias">Add</button>
				</div>
				<ValidationMessage For="() => NewAlias.Name" />
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				@if (Aliases.Count > 0)
				{
					@foreach (var alias in Aliases)
					{
						<span class="badge bg-light text-dark me-1">
							@alias.Name
							<a href="javascript:void(0);" class="btn-close ms-2" aria-label="Close" @onclick="() => RemoveAlias(alias.Name)" title="Click to delete this alias, but don't forget to save/update!'"></a>
						</span>
					}
				}
				else
				{
					<div class="alert alert-secondary text-center" role="alert">
						There are no aliases added yet!
					</div>
				}
			</div>
		</div>
	</div>
</div>