@page "/notfound"

<div class="d-flex justify-content-center align-items-center">
	<div class="col-md-10 text-center">
		<h1>404: Item Not Found</h1>
		<div class="card border-warning mt-5">
			<div class="card-body">
				<p>It seems you've ventured into the unknown regions of the databank. The item you're searching for is as elusive as a Jedi in hiding.</p>
				<p>Fear not, young Padawan. Use the Force to navigate back to safer territories or explore other parts of the databank.</p>
				<p>May the Force be with you!</p>
			</div>
		</div>
	</div>
</div>