@page "/planets/create"
@rendermode InteractiveServer
@attribute [Authorize]
<PageTitle>Create Planet</PageTitle>
<SetHeader>
	<h1><i class="bi bi-database-add"></i> Create Planet</h1>
	<hr />
</SetHeader>

@if (EditContext != null)
{
	<EditForm FormName="CreatePlanet" OnValidSubmit="Submit" EditContext="@EditContext">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="container-fluid">
			<div class="card mb-3">
				<div class="card-header">Enter the basic planet details</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-md-12">
							<label for="Name" class="form-label">Name</label>
							<InputText id="Name" class="form-control" @bind-Value="Model.Name" />
							<ValidationMessage For="() => Model.Name" />
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header">Enter additional name aliases</div>
				<div class="card-body">
					<AliasSelector Aliases="@Model.Aliases" />
				</div>
			</div>
			<nav class="navbar navbar-light bg-dark mb-3">
				<div class="container-fluid justify-content-start">
					<button type="submit" class="btn btn-primary btn-sm me-3" title="Click to create this item.">Create</button>
					<a href="planets/index" class="btn btn-secondary btn-sm" title="Click to cancel this action and return to the index.">Cancel</a>
				</div>
			</nav>
		</div>
	</EditForm>
}
else
{
	<div class="spinner"></div>
	<p>Loading...</p>
}